[submodule ".registry"]
	path = .registry
	url = https://github.com/krlmlr/krlmlr.r-universe.dev
	branch = HEAD
[submodule "bindr"]
	path = bindr
	url = https://github.com/krlmlr/bindr
[submodule "bindrcpp"]
	path = bindrcpp
	url = https://github.com/krlmlr/bindrcpp
[submodule "plogr"]
	path = plogr
	url = https://github.com/krlmlr/plogr
[submodule "wrswoR"]
	path = wrswoR
	url = https://github.com/krlmlr/wrswoR
